<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"> 
    <style> 
	
    </style>
</head>
<body>
<header>
    <button class="button" href="#" >Checkout</button>
    <input type="button" class="button" value="Shoping Cart" href="#">
    <button class="button" href="#">Wish List</button>
    <a href="pageTwo.html" style="inherit" class="button">My Account</a>
</header>
<h1> Art Store </h1>
<p class="greybar">
    <button class="greybutton" href="#">&nbsp;Home </button>
    <button class="greybutton" href="#">About Us </button>
    <button class="greybutton" href="#">Art Works </button>
    <button class="greybutton" href="#">Artists </button>
</p>
<div class="border">
<ul class="lastbuttons">
<li style="display:inline;">
<h2>Self-portrait in a Straw Hat</h2>
<p>By <a href='#'>Louise Elisabeth Lebrun </a></p>
<a href="#"><img src="start/images/113010.jpg" style="float:left; zoom:60%; margin-right:20px;" alt="Self-portrait in a Straw Hat"></a>
    <div class="innerbody">

        <p> The painting appears, after cleaning, to be an autograph replica of a picture, the original of which was painted in Brussels in 1782 in free imitation of Rubens's 'Chapeau de Paille', which LeBrun had seen in Antwerp. It was exhibited in Paris in 1782 at the Salon de la Correspondance. LeBrun's original is recorded in a private collection in France.
        <nl></nl>
        <p style="color:red; font-weight:bold"> $700 </p>
        <nl></nl>
        <div class="shoppingdiv">
            <button class="shoppingbutton">Add to Wish List</button> &nbsp;&nbsp;
            <button class="shoppingbutton">Add to Shopping Cart</button> 
    </div>
<h3>Product Details </h3>
<hr></hr>
<table>
    <tr>
        <td><strong>Date:</strong></td>
        <td>1782 </td>
    </tr>
    <tr>
        <td><strong>Medium:</strong></td>
        <td> Oil on canvas</td>
    </tr>
    <tr>
        <td><strong>Dimensions:</strong></td>
        <td>98cm x 71cm</td>
    </tr>
    <tr>
        <td><strong>Home:</strong></td>
        <td><a href="#">National Gallery, London</a></td>
    </tr>
    <tr>
        <td><strong>Genres:</strong></td>
        <td><a href="#">Realism,</a> &nbsp;<a href="#">Rococo</a>
    </tr>
    <tr>    
        <td><strong>Subjects:</strong></td>
        <td><a href="#">People,</a> &nbsp;<a href="#">Arts</a></td>
    </tr>
</table>

</p>

</div>
</li>
<br></br>
<h3>Similar Products</h3>
<hr></hr>
<div class="shoppingdiv" >
    <div class="shoppingdiv">
    <ul class="vertical">
        <li><img src="start/images/thumbs/116010.jpg" alt="Artist Holding a Thistle"></img></li>
        <li><a href="#">Artist Holding a Thistle</a></li>
            <li style="display:inline;"><button class="lastbuttons" name="View">View</button></li>
            <li style="display:inline; height:24px; width:40px"><button class="lastbuttons" name="Wish">Wish</button></li>
            <li style="display:inline;"><button class="lastbuttons" name="Cart">Cart</button></li>
        </li>
        
     </ul>  
   
    </div> &nbsp;
    <div class="shoppingdiv">
        <ul class="vertical">
            <li><img src="start/images/thumbs/120010.jpg" alt="Portrait of Eleanor of Toledo"></img></li>
            <li><a href="#">Portrait of Eleanor of Toledo</a></li>
            <li style="display:inline;"><button class="lastbuttons" name="View">View</button></li>
            <li style="display:inline; height:24px; width:40px"><button class="lastbuttons" name="Wish">Wish</button></li>
            <li style="display:inline;"><button class="lastbuttons" name="Cart">Cart</button></li>
            </li>
        </ul>
    </div> &nbsp;
    <div class="shoppingdiv">
        <ul class="vertical">
            <li><img src="start/images/thumbs/107010.jpg" alt="Madame de Pompadour"></img></li>
            <li><a href="#">Madame de Pompadour</a></li>
            <li style="display:inline;"><button class="lastbuttons" name="View">View</button></li>
            <li style="display:inline; height:24px; width:40px"><button class="lastbuttons" name="Wish">Wish</button></li>
            <li style="display:inline;"><button class="lastbuttons" name="Cart">Cart</button></li>
            </li>
        </ul>
    </div> &nbsp;
    <div class="shoppingdiv">
        <ul class="vertical">
            <li><img src="start/images/thumbs/106020.jpg" alt="Girl with a Pearl Earring"></img></li>
            <li><a href="#">Girl with a Pearl Earring</a></li>
            <li style="display:inline;"><button class="lastbuttons" name="View">View</button></li>
            <li style="display:inline; height:24px; width:40px"><button class="lastbuttons" name="Wish">Wish</button></li>
            <li style="display:inline;"><button class="lastbuttons" name="Cart">Cart</button></li>
            </li>
        </ul>
    </div>
    
</div>
</div>
<footer>All images are copyright by the owners. This is just a hypothetical site &#169; 2014 Copyright Art Store.</footer>  
</body>
</html>